vim-ack
vim-bufkill
vim-completion
vim-easymotion
vim-easytags
vim-fswitch
vim-forms
vim-fugitive
vim-fuzzyfinder
vim-gundo
vim-javascript
vim-l9
vim-misc
vim-mwutils
vim-nerdcommenter
vim-nerdtree
vim-protodef
vim-signs
vim-solarized
vim-surround
vim-taglist
vim-unimpaired
vim-xptemplate
