vim-bufkill
vim-completion
vim-easymotion
vim-fswitch
vim-forms
vim-fugitive
vim-fuzzyfinder
vim-gundo
vim-javascript
vim-l9
vim-mwutils
vim-nerdtree
vim-protodef
vim-signs
vim-solarized
vim-surround
vim-unimpaired
vim-xptemplate
